*, *::before, *::after {
  box-sizing: border-box;
}

html {
  color-scheme: dark light;
  hanging-punctuation: first last;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}´

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* css RESET */

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}